html,body,section{
    width: 100%;
    height: 100%;
    overflow: hidden;
    font-family: "微软雅黑";
    color: #666;
    background: #f9f9f9;
}
a{
    text-decoration: none;
    color: #666;
}
section{
    position: relative;
    z-index: 2;
    transition: all 0.5s;
}
/* 顺时针360转动*/
@keyframes run360 {
    0%{transform:translateX(0) translateY(0) translateZ(0) rotateX(0deg) rotateY(0deg) rotateZ(0deg) scaleX(1) scaleY(1) scaleZ(1);}
    100%{transform:translateX(0) translateY(0) translateZ(0) rotateX(0deg) rotateY(0deg) rotateZ(360deg) scaleX(1) scaleY(1) scaleZ(1);}
}
/*你是指360转动*/
@keyframes run-360 {
    0%{transform:translateX(0) translateY(0) translateZ(0) rotateX(0deg) rotateY(0deg) rotateZ(0deg) scaleX(1) scaleY(1) scaleZ(1);}
    100%{transform:translateX(0) translateY(0) translateZ(0) rotateX(0deg) rotateY(0deg) rotateZ(-360deg) scaleX(1) scaleY(1) scaleZ(1);}
}
/**********************************************************nav导航*/

#nav {
    width: 100%;
    height: 64px;
    background: #fff;
    position: fixed;
    left: 0;
    top: 0;
    border-bottom: 1px solid #ddd;
    z-index: 10;
}
.center {
    width: 95%;
    height: 100%;
    margin: 0 auto;
}
#nav h1{
    width: 156px;
    height: 38px;
    background: url("../images/logo-lab.png") no-repeat;
    background-size: 100% 100%;
    float: left;
    text-indent: -999px;
    margin-top: 15px;
}
#nav .nav{
    width: 280px;
    height: 100%;
    line-height: 64px;
    float: right;
}
#nav .nav li{
    line-height: 64px;
    float: left;
    font-size: 13px;
    font-weight: bolder;
}
#nav li span{
    margin: 0 40px;
    color: #ccc;
}
#nav li a:hover{
    color: blue;
}
.download{
    width: 250px;
    float: right;
    position: relative;
}
.download a{
    width: 100px;
    display: block;
    float: right;
    color: #fff;
    border-radius: 5px;
    margin-top: 10px;
    padding: 10px 0;
    text-align: center;
}
.download a:nth-child(1){
    background: #4698ff;
}
.download a:nth-child(2){
    background: #4ed257;
    margin-right: 50px;
}
.download img{
    display: none;
}
.download img:nth-of-type(1){
    position: absolute;
    left: 150px;
    top: 80px;
}
.download img:nth-of-type(2){
    position: absolute;
    left: 0px;
    top: 80px;
}
#nav .center .curo{
    display: none;
}

/**********************************************************side*/
.side{
    width: 40px;
    height: 150px;
    position: fixed;
    right: 20px;
    top: 50%;
    margin-top: -80px;
    z-index: 10;
}
.side li {
    width: 40px;
    height: 25px;
    position: relative;
    cursor: pointer;
}
.side li i{
    width: 8px;
    height: 8px;
    border-radius: 4px;
    background: #c7c7c7;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-top: -4px;
    margin-left: -4px;
}
.side li span{
    display: inline-block;
    width: 80%;
    height: 80%;
    line-height: 20px;
    background: #888;
    color: #eee;
    margin-left: 3px;
    border-radius: 5px;
    font-size: 12px;
    text-align: center;
    opacity: 0;
}
.side .cur i {
    opacity: 0;
}
.side .cur span {
    opacity: 1;
}

.p3{
    background: red;
}
.p4{
    background: pink;
}
.p5{
    background: blue;
}

/****************************************************************P1样式*/
.p0 .title{
    width: 100px;
    height: 140px;
    position: absolute;
    right: 150px;
    top: 100px;
}
.p0 .title span {
    display: block;
    width: 100px;
    height: 100px;
    padding: 4px;
    border: 1px solid #ccc;
    border-radius: 3px;
}
.p0 .title p{
    line-height:24px;
    font-size: 12px;
    color: #333;
    text-align: center;
}
.main{
    width: 900px;
    height: 600px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -450px;
    margin-top: -300px;
}
.p0 .main img:nth-child(1){
    width: 390px;
    height: 228px;
    position: absolute;
    left: 50%;
    top: 40px;
    margin-left: -195px;
}
.p0 .main img:nth-child(2){
    width: 740px;
    height: 55px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -370px;
}
.p0 .main img:nth-child(3){
    width: 390px;
    height: 25px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -195px;
    margin-top: 80px;
}
.p0 .main .down{
    width: 360px;
    height: 50px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -180px;
    margin-top: 150px;
    color: #666;
    text-align: center;
    font-size: 12px;
}
.p0 .down span:nth-child(1){
    float: left;
}
.p0 .down span:nth-child(2){
    float: right;
}
.p0 .down span:nth-child(1) a{
    background: #4ed257;
}
.p0 .down span:nth-child(2) a{
    background: #4698ff;
}
.p0 .down a{
    display: block;
    width: 140px;
    padding: 20px 0;
    color: #fff;
    text-align: center;
    border-radius: 8px;
    font-size: 16px;
    margin-bottom: 10px;

}

.p0 .footer{
    width: 100%;
    position: absolute;
    left: 0px;
    bottom: 10px;
}
.p0 .footer img{
    width: 64px;
    height: 20px;
    position: absolute;
    left: 50%;
    top: -60px;
    margin-left: -32px;
    animation: scrolldown 2s infinite linear;
}
@keyframes scrolldown {
    0%{top: -60px;}
    50%{top: -30px;}
    100%{top: -60px;}
}
.p0 .footer p{
    position: absolute;
    right: 50px;
    top: -50px;
    color: #333;
}

/********************************************************p1*/
.p1{
    perspective: 500px;
}
.title{
    width: 300px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -550px;
    margin-top: -180px;
    text-align: left;
}
.title img  {
    width: 268px;
    height: 50px;
}
.title p{
    line-height: 30px;
    margin-top: 20px;
}
.p1 .crc{
    width: 370px;
    height: 370px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: 20px;
    margin-top: -180px;
    transform:translateX(0) translateY(0) translateZ(0) rotateX(45deg) rotateY(-75deg) rotateZ(45deg) scaleX(1) scaleY(1) scaleZ(1);
}
.p1 .crc img {
    width: 370px;
    height: 370px;
    position: absolute;
}
.p1 .crc img:nth-child(3){
    animation: run360 1.5s infinite linear;
}
.p1 .crc img:nth-child(2){
    animation: run-360 5s infinite linear;
}
.p1 .crc img:nth-child(5){
    animation: big 2s infinite ;
}
.p1 .crc img:nth-child(6){
    animation: big 2s infinite ;
    animation-delay: 0.8s;
}
@keyframes big {
    0%{opacity:1;transform:translateX(0) translateY(0) translateZ(0) rotateX(0deg) rotateY(0deg) rotateZ(0deg) scaleX(1) scaleY(1) scaleZ(1);}
    100%{opacity:0;transform:translateX(100px) translateY(0) translateZ(0px) rotateX(0deg) rotateY(0deg) rotateZ(0deg) scaleX(1) scaleY(1) scaleZ(1);}
}

/*************************************p2*/

.p2 .title{
    margin-left: 100px;
    margin-top: -150px;
}
.p2 .title p{
    text-align: justify;
}
.p2 .ani{
    width: 476px;
    height: 364px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-top: -182px;
    margin-left: -500px;

}
.p2 .ani img{
    position: absolute;
    left:0;
    top: 0;
}
.p2 .ani img:nth-child(1){
    box-shadow: -3px 3px 5px #bfbfbf;
    transform: perspective(500px) rotateX(20deg) rotateY(30deg) rotateZ(-10deg)  scaleX(0.8) scaleY(0.8);
}
.p2 .ani img:nth-child(2){
    left: 100px;
    top: 100px;
    animation: show 4s infinite linear;
}
.p2 .ani img:nth-child(3){
    left: 100px;
    top: 100px;
    animation: show 4s infinite linear;
    animation-delay: 2s;
}


@keyframes show {
    0%{opacity: 0;}
    50%{opacity: 1;}
    100%{opacity: 0;}
}


.p2 .ani img:nth-child(4){
    left: 300px;
    top: 70px;
    animation: downup 2s infinite linear;
}
@keyframes downup {
    0%{top:70px;}
    50%{top:40px;}
    100%{top:70px;}
}










